@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Regular.woff2");
}

:root {
  --prim: #feb800;
  --body: #060606;
  --white: #fff;
  --black: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Aeonik", Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
  font-family: "Aeonik", Arial, Helvetica, sans-serif;
}

.navbar-menu {
  animation: slideDown 0.3s ease;
}

.fonction2 {
  background: linear-gradient(
    to right,
    rgba(20, 20, 20, 1),
    rgba(81, 81, 81, 1)
  );
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-grid {
  background: linear-gradient(
    to right,
    rgba(20, 20, 20, 1),
    rgba(81, 81, 81, 1)
  );
}
