@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

:root {
  --prim: #feb800;
  --body: #060606;
  --white: #fff;
  --black: #000;
  --font-aeonik: sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  scroll-behavior: smooth;
}

.navbar-menu {
  animation: slideDown 0.5s ease-in-out;
}

.fonction2 {
  background: linear-gradient(
    to right,
    rgba(20, 20, 20, 1),
    rgba(81, 81, 81, 1)
  );
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-grid {
  background: linear-gradient(
    to right,
    rgba(20, 20, 20, 1),
    rgba(81, 81, 81, 1)
  );
}

@media (min-width: 1024px) {
  .support-graphic {
    height: 360px;
    max-width: 380px;
  }
  .support-graphic .support-overlay {
    width: 210px;
    height: 210px;
    right: 1rem;
  }
}
